body {
	background-color: rgb(25, 25, 25);
	color: #eeeeee;
	font-family: 'Roboto';
}

.thumbnail {
	background-color: rgb(34, 34, 34);
	border-color: rgb(34, 34, 34);
	min-height: 400px;
}

.thumbnail img {
	max-height: 150px;
}

.thumbnail p {
	color: #7f7f7f;
}

.caption h3 {
	color: #eeeeee;
}

.thumbnail a {
	position: absolute;
	right: 10%;
	bottom: 10%;
}

.price {
	font-weight: bold;
	font-size: 1.3em;
	color: #eeeeee;
	position: absolute;
	bottom: 10%;
}

.list-group {
	color: #7f7f7f;
}

.panel-body h4, .panel-footer {
	color: rgb(25, 25, 25);
}

.list-group .glyphicon {
	margin: 1%;
	background-color: rgba(0, 0, 0, 0);
}

.inventory button {
	border: none;
	padding: 0;
	background-color: rgba(0, 0, 0, 0);
	margin-left: 2%;
	margin-top: 0.5%;
}

#empty-cart {
	text-align: center;
}
